.calendar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    gap:20px;
}

.form-container {
    width: 45%;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
}

.form-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

/* react-calendar */
.react-calendar { 
    width: 500px;
    background-color: #fff;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.125em;
    border: none;
    padding: 20px;
}

   
.react-calendar__navigation button {
    color: #6f48eb;
    min-width: 44px;
    background: none;
    font-size: 25px;
    margin-top: 8px;
    font-family: 'Lexend Deca', sans-serif;
    text-transform: capitalize; /* Mettre la première lettre en majuscule */
}
.react-calendar__navigation {
    margin-bottom: 30px;
}

.react-calendar__month-view__weekdays{
    margin-bottom: 10px;
}

.react-calendar__navigation__label {
    color: #333 !important;
    font-size: 18px !important;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: #f8f8fa;
}
   
.react-calendar__navigation button[disabled] {
    background-color: #f0f0f0;
}
   
abbr[title] {
    text-decoration: none;
}
   
.react-calendar__month-view__days__day--weekend {
    color: inherit;
}
   
.react-calendar__tile{
    padding: 20px 0px;
}
   
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: #f8f8fa;
    color: #6f48eb;
    border-radius: 6px;
}
   
.react-calendar__tile--now {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
}
   
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: #6f48eb33;
    border-radius: 6px;
    font-weight: bold;
    color: #6f48eb;
}
   
.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: #f8f8fa;
}
   
.react-calendar__tile--active {
    background: #6f48eb;
    border-radius: 6px;
    font-weight: bold;
    color: white;
}
   
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: #6f48eb;
    color: white;
}

