.dossiers-container {
    /* display: flex; */
    /* display: flex; */
    width: (100% - 40px);
    height: calc(100vh - 80px);
    color: "#333";
    overflow-y: auto; /* Ajout du scroll uniquement sur le container */
    padding: 0 20px;
}

table {
    font-family: inherit;
    border-collapse: collapse;
    box-shadow: 0 4px 10px 4px rgba(0, 0, 0, 0.2);
    background-color: white;
    text-align: left;
    border-radius: 10px;
}

table thead {
    box-shadow: 0 5px 10px #e1e5ee;
}
  
table th {
    padding: 1rem 3rem;
    font-size: 16px;
    font-weight: bold;
}

table td {
    padding: 0.8rem 3rem;
}

table .status {
    border-radius: 0.2rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}
  
table .status-pending {
    background-color: #fff0c2;
    color: #a68b00;
}

table .status-paid {
    background-color: #c8e6c9;
    color: #388e3c;
}
  
table .status-unpaid {
    background-color: #ffcdd2;
    color: #c62828;
}

table .amount {
    text-align: right;
}

table tr:nth-child(even) {
    background-color: #f4f6fb;
}

.filter-container {
    display: flex;
    width: 100%;
}

.search-bar input {
    padding: 11px;
    width: 300px;
    margin-left: 15px;
}

.filters {
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 700px;
    display: flex;
    flex-wrap: wrap; /* Permet aux éléments de se répartir sur plusieurs lignes */
}

.filters input {
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
}