.profil-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
}

.profil-left {
    width: 40%;
    padding: 20px;
}

.profil-right {
    width: 60%;
    padding: 20px;
}

.profil-left .input-group {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 15px;
}

.profil-left .input-group > * {
    flex: 1;
}

.profil-container h2 {
    color: #333;
}